* {
   box-sizing: border-box; 
}

body {
    width: 100%;
    margin: 0;
}

/* header styling */

header {
    background-color:rgb(28, 28, 29);
    display: flex;
    justify-content: flex-end;
}

header nav button {
    width: 9rem;
    height: 2rem;
    margin: 1rem;
    background-color: rgb(28, 28, 29);
    border: 1px solid rgb(28, 28, 29);
    border-radius: 1rem;
}

header nav button:hover {
    background-color: grey;
}

header nav button a {
    font-size: 1rem;
    font-family: arial;
    color: white;
    text-decoration: underline;
    text-decoration-color: #c1121f;
    text-decoration-thickness: 2px;
}

/* Homepage styling */

#about-me {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        rgb(28, 28, 29)0%,
        #0b0b0b 45%,
        #240a0a 65%,
        #3b0d0d 85%,
        #5c1218 100%
    );
    height: 100vh;
}
s
#about-me img {
    width: 100%;
    height: 50vh;
}

#title-div {
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
}

.title {
    margin: 0;
}

.f-name {
    font-size: 110px;
    font-family: arial;
    color: white;
}

.l-name {
    font-size: 150px;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c1121f;
    text-shadow: 2px 2px 20px rgb(131, 12, 36);
}

.tag-line {
    color: white;
    font-family: arial;
    font-size: 28px;
    align-self: end;
}

/* Resume section */

#resume {
    background: linear-gradient(rgb(131, 12, 36), rgb(174, 188, 202));
    height: 100vh;
}