* {
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* header styling */

header {
    background-color:rgb(28, 28, 29);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

header nav button {
    width: 9rem;
    height: 2rem;
    margin: 1rem;
    background-color: rgb(28, 28, 29);
    border: 1px solid rgb(28, 28, 29);
    border-radius: 1rem;
}

header nav button:hover {
    background-color: grey;
}

header nav button a {
    font-size: 1rem;
    font-family: arial;
    color: white;
    text-decoration: underline;
    text-decoration-color: #c1121f;
    text-decoration-thickness: 2px;
}

#nav-button {
    display: none;
    height: 2rem;
    background: none;
    border: 3px solid red;
    border-radius: 8px;
}

#nav-button a {
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: red;
}

/* Section h2 styling */

section h2 {
    font-size: 64px;
    font-family: arial;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
/* Homepage styling */

#home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        rgb(28, 28, 29)0%,
        #0b0b0b 45%,
        #240a0a 65%,
        #3b0d0d 85%,
        #5c1218 100%
    );
    height: 100vh;
}


#title-div {
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
}

.title {
    margin: 0;
}

.f-name {
    font-size: 110px;
    font-family: arial;
    color: white;
}

.l-name {
    font-size: 150px;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c1121f;
    text-shadow: 2px 2px 20px rgb(131, 12, 36);
}

.tag-line {
    color: white;
    font-family: arial;
    font-size: 28px;
    align-self: end;
}

#resume-link {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    height: 2rem;
    background: none;
    border: 3px solid red;
    border-radius: 8px;
}

#resume-link a {
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: red;
}

#resume-link:hover {
    background: white;
}

/* About me section */

#about-me {
    background-color: #5c1218;
    height: auto;
    padding-bottom: 1.5rem;
    min-height: 100vh;
}

#about-me h2 {
    color: white;
    text-decoration-color: #c1121f;
}

#bio {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    align-items: center;
}

#blurb {
    color: white;
    font-family: arial;
    width: 50%;
    margin: 2rem;
}

#blurb p {
    margin-bottom: 1.5rem;
    line-height: 1.7;
}

#blurb-imgs {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#blurb-imgs img {
    max-width: 45%;
    max-height: 400px;
    height: auto;
    width: auto;
    object-fit: cover;
    display: block;
}

/* Projects Section Styling */
#projects {
    margin-top: 5rem;
}

#projects h2 {
    text-decoration-color: #c1121f;
}

#project-container {
    margin: 1rem;
}

.project-card {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 1rem;
    font-family: arial;
    line-height: 1.7;
}

.project-card h3 {
    color: #c1121f;
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    text-align: center;
}

.project-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-pics {
    display: flex;
    justify-content: center;
    width: 40%;
}
.project-pics img {
    align-self: center;
    width: 100%;
}
/* Contact Me Section Styling */
#contact {
    background: linear-gradient(
        #000000 0%,
        #1a0707 35%,
        #3b0d0d 65%,
        #5c1218 100%
    );
}

#contact h2 {
    color: #c1121f;
    text-decoration-color: white;
}